.navbar {
    background-color: white !important;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container input {
    border-radius: 20px;
}

.container select {
    border-radius: 20px;
    width: 100%;
}


.r1 {
    width: 45%;
}

.r2 {
    width: 45%;
}


.r2 button {
    background-color: #4c7383;
    color: white;
    border-color: #4c7383;
    width: 100%;
    border-radius: 20px;
}

.r2 button:hover {
    background-color: white;
    color: #4c7383;
    border-color: #4c7383;
    width: 100%;
}

.r2 button {
    background-color: #4c7383;
    color: white;
    border-color: #4c7383;
    width: 100%;
    border-radius: 20px;
}

.r2 button:hover {
    background-color: white;
    color: #4c7383;
    border-color: #4c7383;
    width: 100%;
}

.divider li {
    list-style: none;
    width: 92%;
    margin-left: 3em;
    margin-right: 3em;
}