.navbar {
    background-color: white !important;
    
}

.container{
    display: flex;
}

.container input{
    border-radius: 20px;

}

.image img{
    width: 450px;
    height: 500px;
}

.login button{
    background-color: #4c7383;
    color: white;
    border-color: #4c7383;
    width: 100%;
    border-radius: 20px;

}

.login button:hover{
    background-color: white;
    color: #4c7383;
    border-color: #4c7383;
    width: 100%;
    
}

.container li{
    list-style: none;
}

.google{
    background-color: #D9D9D9;
    width: 50px;
    height: 40px;
    border-radius: 5%;
}

.google img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.facebook{
    background-color: #D9D9D9;
    width: 50px;
    height: 40px;
    border-radius: 5%;
}

.facebook img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}


.apple{
    background-color: #D9D9D9;
    width: 50px;
    height: 40px;
    border-radius: 5%;
}

.apple img{
    width: 35px;
    height: 35px;
    display: block;
    margin: auto;
}


.metodos{
    display: flex;
    justify-content: space-evenly;
}