<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOLIE</title>
  <!--LINK PARA CARGAR CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/productos.css">
</head>

<body>
  <!--BARRA DE NAVEGACION-->
  <div class="nav1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">JOLIE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/html/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/html/novedades.html">Novedades</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/html/productos.html">Camisas</a></li>
                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                <li><a class="dropdown-item" href="#">Faldas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/html/ofertas.html">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/html/login.html">Iniciar sesion</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </div>

  <!--SUBMENU-->
  <div class="nav2">
    <nav class="navbar2 navbar-light bg-light">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-outline-secondary" type="button">Camisas</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Vestidos</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Shorts</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Hoodies y conjuntos</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Pantalones</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Faldas</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Shorts</button>
      </form>
    </nav>
  </div>

  <!--PANTALLA PRINCIPAL-->
  <main>
    <div class="text">
      <h1>Hoodies y conjuntos</h1>
      <p>Jolie te ofrece una variedad de hoodies y conjuntos que se acoplen a tu estilo, ofreciendote asi, comodidad,
        calidad y un look ideal para tu ocasión.</p>
    </div>

    <div class="container">
      <div class="card" style="width: 18rem; margin-left: 3%;">
        <div class="card-body">
          <a href="/html/detalle.html">
            <img src="/recursos/1.png" class="card-img-top" alt="...">
          </a>
          <p class="card-title">Sage Sweatshirt</p>
          <div class="imagenes">
            <div class="img2"><a href=""><img src="/recursos/9.png" alt=""></a></div>
            <div class="img3"><a href=""><img src="/recursos/10.png" alt=""></a></div>
            <div class="img4"><a href=""><img src="/recursos/12.png" alt=""></a></div>
            <div class="cora"><a href=""><img src="/recursos/cora.png" alt=""></a></div>
            <div class="carrito5"><a href=""><img src="/recursos/carrito.png" alt=""></a></div>
          </div>
          <div class="price">
            <a href="#" class="ctn2">$78.99</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="/html/detalle.html">
            <img src="/recursos/2.png" class="card-img-top" alt="...">
          </a>
          <p class="card-title">Sage Sweatshirt</p>
          <div class="imagenes">
            <div class="img2"><a href=""><img src="/recursos/9.png" alt=""></a></div>
            <div class="img3"><a href=""><img src="/recursos/10.png" alt=""></a></div>
            <div class="img4"><a href=""><img src="/recursos/12.png" alt=""></a></div>
            <div class="cora"><a href=""><img src="/recursos/cora.png" alt=""></a></div>
            <div class="carrito5"><a href=""><img src="/recursos/carrito.png" alt=""></a></div>
          </div>
          <div class="price">
            <a href="#" class="ctn1">$78.99
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="/html/detalle.html">
            <img src="/recursos/3.png" class="card-img-top" alt="...">
          </a>
          <p class="card-title">Sage Sweatshirt</p>
          <div class="imagenes">
            <div class="img2"><a href=""><img src="/recursos/9.png" alt=""></a></div>
            <div class="img3"><a href=""><img src="/recursos/10.png" alt=""></a></div>
            <div class="img4"><a href=""><img src="/recursos/12.png" alt=""></a></div>
            <div class="cora"><a href=""><img src="/recursos/cora.png" alt=""></a></div>
            <div class="carrito5"><a href=""><img src="/recursos/carrito.png" alt=""></a></div>
          </div>
          <div class="price">
            <a href="#" class="ctn0">$78.99
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="/html/detalle.html">
          <img src="/recursos/4.png" class="card-img-top" alt="...">
          </a>
          <p class="card-title">Sage Sweatshirt</p>
          <div class="imagenes">
            <div class="img2"><a href=""><img src="/recursos/9.png" alt=""></a></div>
            <div class="img3"><a href=""><img src="/recursos/10.png" alt=""></a></div>
            <div class="img4"><a href=""><img src="/recursos/12.png" alt=""></a></div>
            <div class="cora"><a href=""><img src="/recursos/cora.png" alt=""></a></div>
            <div class="carrito5"><a href=""><img src="/recursos/carrito.png" alt=""></a></div>
          </div>
          <div class="price">
            <a href="#" class="ctn0">$78.99
            </a>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!--FOOTER-->
  <footer>
    <iframe src="/html/footer.html" frameborder="0"></iframe>
  </footer>

  <!--SCRIPT BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>